:root {
  --color-header-bg: #000;
  --color-text: #333;
  --color-pagination-bg-black: #666;
  --color-caption: #999;
  --color-accordion-pagination-usage: #D1A9F0;
  --color-link-hover-bg-black: #C283F3;
  --color-link-btn-active: #7943A4;
  --color-btn-enter-active: #9D5CD0;
  --color-whatsapp: #30BF39;
  --color-telegram: #26A5E4;
  --color-validate-error: #D11616;
  --color-accordion-line: #cacaca;
  --color-pagination-bg-white: #ececec;
  --color-white: #fff;

}

@font-face {
  font-family: 'OpenSans';
  src:
  local('OpenSansRegular'),
  local('OpenSans Regular'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src:
  local('OpenSansSemiBold'),
  local('OpenSans SemiBold'),
  url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src:
  local('OpenSansBold'),
  local('OpenSans Bold'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src:
  local('OpenSansItalic'),
  local('OpenSans Italic'),
  url('../fonts/OpenSans-Italic.woff2') format('woff2'),
  url('../fonts/OpenSans-Italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

html {
  box-sizing: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  background-color: #FFF;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 160px;
  max-width: 1920px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 48px;
}

.section-title--white {
  color: var(--color-white);
}

/* header */
/* позиционирование */
.navbar__right {
  flex-basis: 79rem;
}

.nav {
  flex-grow: 1;
  max-width: 754px;
}

.navbar__logo,
.nav {
  margin-right: 30px;
}
/* стилистика */
.header__container {
  background-color: var(--color-header-bg);
}

.navbar {
  padding: 28px 0;
}

.navbar__logo-a:focus {
  outline-offset: 5px;
  outline: 1px solid var(--color-link-hover-bg-black);
}

.nav__item-a {
  padding: 4px 6px;
  color: var(--color-white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.nav__item-a:focus {
  outline: none;
  background-color: var(--color-link-btn-active);
}

.nav__item-a:hover {
  color: var(--color-link-hover-bg-black);
}

.nav__item-a:active {
  background-color: transparent;
  color: var(--color-link-btn-active);
}

.user-account__enter-btn {
  position: relative;
  padding: 8px 5px 8px 28px;
  border: none;
  color: var(--color-white);
  background-color: inherit;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.user-account__enter-btn:focus {
  background-color: var(--color-link-btn-active);
  outline: none;
  color: var(--color-white);
}

.user-account__enter-btn:hover {
  color: var(--color-link-hover-bg-black);
}

.user-account__enter-btn:active {
  background-color: transparent;
  color: var(--color-btn-enter-active);
}

.user-account__enter-btn::before {
  position: absolute;
  content: '';
  left: 8px;
  bottom: 12px;
  width: 18px;
  height: 13px;
  background-image: url('../img/enter.svg');
  background-repeat: no-repeat;
  transition: background-image .3s ease-in-out;
}

.user-account__enter-btn:hover::before {
  left: 3px;
  background-image: url('../img/enter-hover.svg');
}

.user-account__enter-btn:active::before {
  left: 3px;
  background-image: url('../img/enter-active.svg');
}

/* banner */
/* позиционирование */
.dropbar__left {
  flex-grow: 1;
}

.dropdown {
  max-width: 1037px;
}
/* стилистика */
.banner__container {
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, .5) 70px, transparent 5%),
  url('../img/banner-1920_1.jpg');
}

.banner__container-dropbar {
  background-color: rgba(red, green, blue, .5);
}

.dropdown {
  padding: 25px 0;
}

.dropdown__list-item {
  position: relative;
  font-size: 18px;
  color: var(--color-white);
}

.dropdown__list-a {
  color: var(--color-white);
  text-decoration: none;
}

.dropdown__content {
  position: absolute;
  top: 45px;
  left: 0;
  padding: 40px;
  background-color: rgba(0, 0, 0, .5);
}

.dropdown__content-item {
  padding: 10px 14px;
  min-width: 220px;
}

.realism-1 {
  background-image: url('../img/realism_tintoretto.jpg');
}
.realism-2 {
  background-image: url('../img/realism_fridrix.jpg');
}
.realism-3 {
  background-image: url('../img/realism_leonardo.jpg');
}
.realism-4 {
  background-image: url('../img/realism_verrokko.jpg');
}

.impressionism-1 {
  background-image: url('../img/impressionism_mone.jpg');
}

.impressionism-2 {
  background-image: url('../img/impressionism_sislej.jpg');
}

.impressionism-3 {
  background-image: url('../img/impressionism_mane.jpg');
}

.impressionism-4 {
  background-image: url('../img/impressionism__renuar.jpg');
}

.post-impressionism-1 {
  background-image: url('../img/post-impressionism_van-gog.jpg');
}

.post-impressionism-2 {
  background-image: url('../img/post-impressionism_sezann.jpg');
}

.post-impressionism-3 {
  background-image: url('../img/post-impressionism_gogen.jpg');
}

.post-impressionism-4 {
  background-image: url('../img/post-impressionism_syora.jpg');
}

.vanguard-1 {
  background-image: url('../img/vanguard_kandinskij.jpg');
}

.vanguard-2 {
  background-image: url('../img/vanguard_marinetti.jpg');
}

.vanguard-3 {
  background-image: url('../img/vanguard_malevich.jpg');
}

.vanguard-4 {
  background-image: url('../img/vanguard_pikasso.jpg');
}

.futurism-1 {
  background-image: url('../img/futurism_karra.jpg');
}

.futurism-2 {
  background-image: url('../img/futurism_pratella.jpg');
}

.futurism-3 {
  background-image: url('../img/futurism_severini.jpg');
}

.futurism-4 {
  background-image: url('../img/futurism_balla.jpg');
}

.dropdown__content-item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__content-a {
  width: 100%;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.offer {
  min-height: 630px;
}

/* about-us */
/* позиционирование */
/* стилистика */
.about-us__inner {
  padding: 80px 0;
}

/* gallery */
/* позиционирование */
/* стилистика */
.gallery__container {
  min-height: 595px;
  background: url('../img/gallery-bg.jpg');
}
