::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

:root {
  --color-orange: #FF9900;
  --color-black: #333;
  --color-white: #fff;
  --color-gray: #CACACA;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat Regular'),
  local('MontserratRegular'),
  url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat Medium'),
  local('MontserratMedium'),
  url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat SemiBold'),
  local('MontserratSemiBold'),
  url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat Bold'),
  local('MontserratBold'),
  url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff2') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat ExtraBold'),
  local('MontserratExtraBold'),
  url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
}


html {
  box-sizing: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  background-color: #FFF;
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
    line-height: 28px;
  }
}

img {
  width: 100%;
}

/* global */

.body {
  overflow-x: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1870px;
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

.btn {
  padding: 20px 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
}

.btn:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

@media (max-width: 576px) {
  .btn {
    padding: 6px 28px;
    font-size: 12px;
    line-height: 14px;
  }
}


.btn-orange {
  color: var(--color-white);
  background-color: var(--color-orange);
  transition: opacity 0.3s;
}

.btn-orange:hover,
.btn-orange:focus {
  opacity: 0.7;
}

.btn-orange:active {
  background-color: #E1670E;
  opacity: 1;
}

.section-title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
}

@media (max-width: 576px) {
  .section-title {
    font-size: 24px;
    line-height: 29px;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.swiper-pagination-bullet:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}




/* header */

.header {
  padding: 12px 0;
  min-height: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
  .header {
    padding: 5px 0;
    min-height: 69px;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 14px 0;
  }
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .header__container {
    justify-content: space-between;
  }
}

.burger {
  position: relative;
  display: none;
  width: 30px;
  height: 23px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.burger:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #333;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #333;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger--active .burger__line{
  opacity: 0;

}

.burger--active::before{
  top: 50%;
  transform: rotate(45deg);

}

.burger--active::after{
  top: 50%;
  transform: rotate(-45deg);

}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 1440px) {
  .burger {
    display: block;
  }
}

@media (max-width: 576px) {
  .burger {
    margin-right: -10px;
  }
}

.logo {
  margin-right: auto;
  min-height: 72px;
}

.logo:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

@media (max-width: 1440px) {
  .header__logo  {
    margin: 0;
    padding-left: 70px;
    padding-top: 15px;
  }
}

@media (max-width: 992px) {
  .header__logo  {
    padding-top: 5px;
    padding-left: 70px;
    min-height: 30px;
  }
}

@media (max-width: 576px) {
  .header__logo  {
    padding: 0;
    padding-top: 1px;
    width: 110px;
    height: 35px;
  }
}


@media (max-width: 1440px) {
  .logo__img-header  {
    width: 66%;
  }
}

@media (max-width: 992px) {
  .logo__img-header  {
    width: 66%;
  }
}

@media (max-width: 576px) {
  .logo__img-header  {
    width: 103%;
  }
}

.header__nav  {
  margin-right: 87px;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-black );
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  position: relative;
  color: inherit;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  width: 0;
  min-height: 2px;
  background-color: var(--color-orange);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.nav__link:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.nav__link:active {
  color: var(--color-orange);
  outline: none;
}

/* меню */

@media (max-width: 1440px) {
  .header__nav {
    position: fixed;
    left: 0;
    top: 99px;
    z-index: 1000;
    overflow-y: auto;
    visibility: hidden;
    margin-right: 0;
    padding: 62px 50px;
    width: 420px;
    height: 731px;
    background-color: var(--color-white);
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
  }

  @media (max-width: 992px) {
    .header__nav {
      top: 68px;
    }
  }

  .header__nav--visible {
    transform: none;
    visibility: visible;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .nav__link {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .header__nav {
    padding: 20px 15px;
    width: 100%;
    height: 310px;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .nav__link {
    font-size: 16px;
  }
}

.search {
  position: fixed;
  right: var(--header-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  margin-top: 10px;
  padding-top: 16px;
  padding-right: 13px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 16px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  transform: translateX(180%);
  transition: transform 0.6s ease-in-out;
}

@media (max-width: 992px) {
  .search {
    width: 477px;
  }
}

@media (max-width: 576px) {
  .search {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: var(--header-height-search);
    border-radius: 0;
  }

  .search__label {
    display: inline-block;
  }
}

.search--visible {
  transform: none;
  visibility: visible;
}

.search__label {
  display: inline-block;
  width: 412px;
  margin-right: 14px;
  border-bottom: 1px solid #dcdcdc;
}

.search__input-text {
  width: 100%;
  border: none;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.search__input-text:focus {
  outline: none;
}

.search__btn-loop,
.search__btn-close {
  padding: 0;
  height: 24px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.search__btn-loop svg rect,
.search__btn-loop svg path,
.search__btn-close svg rect,
.search__btn-close svg circle {
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

/* hover */
.search__btn-loop:hover svg rect,
.search__btn-close:hover svg rect {
  fill: var(--color-orange);
  transition: fill 0.3s ease-in-out;
}

.search__btn-loop:hover svg path,
.search__btn-close:hover svg circle {
  stroke: var(--color-orange);
  transition: stroke 0.3s ease-in-out;
}

/* focus */
.search__btn-loop:focus svg rect,
.search__btn-close:focus svg rect {
  fill: #999;
}

.search__btn-loop:focus svg path,
.search__btn-close:focus svg circle {
  stroke: #999;
}

.search__btn-loop:focus,
.search__btn-close:focus {
  outline: 2px solid var(--color-orange);
}

/* active */
.search__btn-loop:active svg rect {
  fill: var(--color-orange);
  transition: fill 0.3s ease-in-out;
}

.search__btn-loop:active svg path {
  stroke: var(--color-orange);
  transition: stroke 0.3s ease-in-out;
}

.search__btn-close:active svg rect {
  fill: #333;
  transition: fill 0.3s ease-in-out;
}

.search__btn-close:active svg circle {
  stroke: #333;
  transition: stroke 0.3s ease-in-out;
}

.search__btn-loop:active,
.search__btn-close:active {
  outline: none;
}

.search__btn-loop-form {
  margin-right: 20px;
  padding: 0;
}

.header__search-link svg rect, path {
  transition: fill 0.3s,
              stroke 0.3s;
}

.header__search-link:hover svg rect {
  fill: var(--color-orange);
}

.header__search-link:hover svg path {
  stroke: var(--color-orange);
}

.header__search-link:focus svg {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.header__search-link:focus svg rect {
  fill: var(--color-black);
}

.header__search-link:focus svg path {
  stroke: var(--color-black);
}

/* hero */
.hero__container {
  position: relative;
  margin-bottom: 100px;
}

@media (max-width: 1440px) {
  .hero__container {
    margin-bottom: 82px;
  }
}

@media (max-width: 576px) {
  .hero__container {
    margin-bottom: 60px;
  }
}

.hero__swiper {
  position: absolute;
  left: 50%;
  top: 0;
  width: calc(100% - 100px);
  height: 100%;
  transform: translateX(-50%);
}

.hero__container .hero__pagination {
  bottom: 26px;
}

.hero__pagination .swiper-pagination-bullet {
  margin: 0;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 576px) {
  .hero__container .hero__pagination {
    bottom: 6px;
  }

  .hero__pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}

.hero__pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}

.hero__pagination .swiper-pagination-bullet-active {
  background: #fff;
}

@media (max-width:576px) {
  .hero__swiper {
    width: calc(100% - 30px);
  }
}

.swiper-slide {
  background-size: cover;
}

.hero__text {
  position: relative;
  z-index: 5;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 70px;
  min-height: 620px;
  pointer-events: none;
}

@media (max-width: 1440px) {
  .hero__text {
    padding-top: 160px;
    padding-left: 77px;
    min-height: 668px;
  }
}

@media (max-width: 992px) {
  .hero__text {
    padding-left: 40px;
    min-height: 662px;
  }
}

@media (max-width: 576px) {
  .hero__text {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 308px;
    text-align: center;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 23px;
  max-width: 837px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: var(--color-white);
  pointer-events: auto;
}

@media (max-width: 1440px) {
  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }
}

@media (max-width: 992px) {
  .hero__title {
    margin-bottom: 19px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 576px) {
  .hero__title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
  }
}

.hero__descr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 790px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-white);
  pointer-events: auto;
}

@media (max-width: 1440px) {
  .hero__descr {
    margin-bottom: 62px;
    max-width: 660px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 992px) {
  .hero__descr {
    margin-bottom: 63px;
    max-width: 590px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 576px) {
  .hero__descr {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }
}

.hero__btn {
  padding: 24px 39px;
  font-size: 23px;
  line-height: 28px;
  pointer-events: auto;
}

/* .hero__btn:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
} */

@media (max-width: 576px) {
  .hero__btn {
    padding: 6px 28px;
    font-size: 12px;
    line-height: 28px;
  }
}

/* about */

.about__title {
  margin-bottom: 22px;
}

@media (max-width: 1440px) {
  .about__title {
    margin-bottom: 9px;
  }
}

@media (max-width: 576px) {
  .about__title {
    margin-bottom: 20px;
  }
}

.about__descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  line-height: 32px;
}

@media (max-width: 1440px) {
  .about__descr {
    margin-bottom: 63px;
  }
}

@media (max-width: 992px) {
  .about__descr {
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .about__descr {
    margin-bottom: 14px;
    line-height: 28px;
  }
}

.about__holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  min-height: 622px;
}

@media (max-width: 1440px) {
  .about__holder  {
    flex-direction: column;
    margin-bottom: 81px;
  }
}

@media (max-width: 576px) {
  .about__holder  {
    margin-bottom: 60px;
  }
}

.about__wrapper-preview {
  width: calc(100% / 2 - 18px);
}

@media (max-width: 1440px) {
   .about__wrapper-preview {
    width: 100%;
  }
}

.about__wrapper-benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 2 - 15px);
}

@media (max-width: 1440px) {
  .about__wrapper-benefits {
   width: 100%;
 }
}

.preview {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-image: url('../img/about-1.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

@media (max-width: 1440px) {
  .preview {
    margin-bottom: 32px;
    min-height: 640px;
  }
}

@media (max-width: 992px) {
  .preview {
    min-height: 650px;
    background-image: url('../img/about-1_768.jpg');
  }
}

@media (max-width: 576px) {
  .preview {
    padding-top: 209px;
    min-height: 515px;
    background-image: url('../img/about-1_320.jpg');
    background-size: contain;
  }
}

@media (max-width: 390px) {
  .preview {
    min-height: 405px;
  }
}

@media (max-width: 320px) {
  .preview {
    min-height: auto;
  }
}

.overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 100%;
  min-height: 196px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
  .overlay {
    padding: 30px 40px;
  }
}

@media (max-width: 576px) {
  .overlay {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: auto;
    background-color: transparent;
  }
}

.preview__descr {
  margin: 0;
  margin-right: 139px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-white);
}

@media (max-width: 1440px) {
  .preview__descr {
    margin: 0;
    max-width: 455px;
  }
}

@media (max-width: 992px) {
  .preview__descr {
    max-width: 370px;
  }
}

@media (max-width: 576px) {
  .preview__descr {
    margin-bottom: 10px;
    color: var(--color-black);
    font-weight: 400;
    line-height: 28px;
  }
}

.about__btn {
  padding: 16px 34px;
  border: 3px solid var(--color-orange);
  color: var(--color-white);
  background-color: initial;
  transition: background-color 0.3s;
}

@media (max-width: 576px) {
  .about__btn {
    padding: 11px 42px;
    border: 2px solid var(--color-orange);
    color: var(--color-orange);
  }
}

.about__btn:hover,
.about__btn:focus {
  background-color: var(--color-orange);
}

.about__btn:active {
  background-color: #E1670E;
  border: 2px solid #E1670E;
}


.benefits {
  padding-top: 65px;
  padding-right: 20px;
  padding-left: 300px;
  padding-bottom: 20px;
  width: 100%;
  min-height: 295px;
  border: 1px solid var(--color-gray);
  background-repeat: no-repeat;
  background-position: top 65px left 60px;
}

@media (max-width: 1440px) {
  .benefits {
    padding-left: 316px;
    background-position: top 64px left 75px;
  }
}

@media (max-width: 992px) {
  .benefits {
    padding-top: 35px;
    padding-left: 169px;
    min-height: 235px;
    background-position: top 67px left 39px;
    background-size: 13%;
  }
}

@media (max-width: 768px) {
  .benefits {
    background-size: 17%;
  }
}

@media (max-width: 576px) {
  .benefits {
    padding: 0;
    padding-top: 62px;
    min-height: 235px;
    border: none;
    background-position: top 0px left 0px;
    background-size: 13%;
  }
}

@media (max-width: 390px) {
  .benefits {
    background-size: 21%;
  }
}

.benefits:not(:last-child) {
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  .benefits:not(:last-child) {
    margin-bottom: 30px;
  }
}


.benefits__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

@media (max-width: 576px) {
  .benefits__title {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }
}

.benefits__descr {
  margin: 0;
  max-width: 450px;
  line-height: 32px;
}

@media (max-width: 576px) {
  .benefits__descr {
    line-height: 28px;
  }
}

.benefits_cube {
  background-image: url('../img/about-1.svg');
}

.benefits_gear {
  background-image: url('../img/about-2.svg');
}

/* how */

.how__title {
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  .how__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .pagination__list {
    margin-bottom: 16px;
  }
}

.pagination__list {
  display: flex;
  margin-bottom: 47px;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1440px) {
  .pagination__list {
    margin-bottom: 51px;
  }
}

@media (max-width: 992px) {
  .pagination__list {
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .pagination__list {
    margin-bottom: 2px;
    font-size: 14px;
  }
}

.pagination__item--active {
  color: var(--color-orange);
}

.pagination__item:not(:last-child) {
  margin-right: 85px;
}

@media (max-width: 576px) {
  .pagination__item:not(:last-child) {
    margin-right: auto;
  }
}

.pagination__btn {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  transition: color 0.3s;
}

.pagination__btn:focus {
  color: var(--color-black);
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.pagination__item:hover {
  color: var(--color-orange);
  transition: color 0.3s;
}

.pagination__item:active {
  color: #E1670E;
  outline: none;
}

.how__holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;
}

@media (max-width: 1440px) {
  .how__holder {
    margin-bottom: 78px;
  }
}

@media (max-width: 992px) {
  .how__holder {
    margin-bottom: 81px;
    flex-direction: column-reverse;
  }
}

@media (max-width: 576px) {
  .how__holder {
    margin-bottom: 61px;
  }
}

.how__box-text {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.how__caption {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@media (max-width: 576px) {
  .how__caption {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
}

.how__descr {
  margin: 0;
  margin-bottom: 47px;
  padding-right: 30px;
  max-width: 788px;
  line-height: 32px;
}

@media (max-width: 1440px) {
  .how__descr {
    margin-bottom: 23px;
    max-width: 467px;
  }
}

@media (max-width: 992px) {
  .how__descr {
    padding: 0;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .how__descr {
    margin-bottom: 16px;
    line-height: 28px;
  }
}

.how__box-img {
  padding-top: 10px;
}

@media (max-width: 992px) {
  .how__box-img {
    margin-bottom: 34px;
  }
}

@media (max-width: 576px) {
  .how__box-img {
    margin-bottom: 7px;
  }
}

.how__img {
  object-fit: cover;
}

@media (max-width: 576px) {
  .how__img {
    height: 160px;
  }
}

@media (max-width: 576px) {
  .how__btn-group {
    display: flex;
    justify-content: space-between;
  }
}

.how__btn-detailed {
  margin-right: 26px;
}

@media (max-width: 1440px) {
  .how__btn-detailed {
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .how__btn-detailed {
    margin-right: auto;
    padding: 12px 44px;
  }
}

.how__btn-contract {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  font-weight: 400;
  transition: color 0.3s,
              background-color 0.3s;
}

@media (max-width: 1440px) {
  .how__btn-contract {
    padding: 20px 36px;
  }
}

@media (max-width: 576px) {
  .how__btn-contract {
    padding: 12px 31px;
  }
}

.how__btn-contract:hover,
.how__btn-contract:focus {
  color: var(--color-white);
  background-color: #666;
  transition: color 0.3s,
              background-color 0.3s;
}

.how__btn-contract:active {
  color: var(--color-white);
  background-color: #000;
}

/* faq */

.faq__title {
  margin-bottom: 43px;
}

@media (max-width: 1440px) {
  .faq__title {
    margin-bottom: 33px;
  }
}

@media (max-width: 992px) {
  .faq__title {
    margin-bottom: 32px;
  }
}

@media (max-width: 576px) {
  .faq__title {
    margin-bottom: 15px;
  }
}

.faq__list {
  margin-bottom: 100px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@media (max-width: 1440px) {
  .faq__list {
    margin-bottom: 84px;
    font-size: 20px;
    line-height: 31px;
  }
}

@media (max-width: 992px) {
  .faq__list {
    margin-bottom: 79px;
  }
}

@media (max-width: 720px) {
  .faq__list {
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}

.faq__item {
  position: relative;
  overflow: hidden;
  padding-top: 39px;
  padding-bottom: 39px;
  border-top: 1px solid var(--color-gray);
  transition: transform 0.3s ease-in-out,
              color 0.3s ease-in-out,
              border 0.3s ease-in-out;
}

@media (max-width: 1440px) {
  .faq__item {
    padding-top: 36px;
    padding-bottom: 35px;
  }
}

@media (max-width: 992px) {
  .faq__item {
    padding-top: 39px;
    padding-bottom: 40px;
  }

  .faq__item:nth-child(2) {
    padding-top: 31px;
    padding-bottom: 30px;
  }

  .faq__item:nth-child(3) {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .faq__item:nth-child(4) {
    padding-top: 33px;
    padding-bottom: 30px;
  }
  .faq__item:nth-child(5) {
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

@media (max-width: 576px) {
  .faq__item {
    padding-top: 31px;
    padding-bottom: 30px;
  }

  .faq__item:nth-child(2) {
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .faq__item:nth-child(3) {
    padding-top: 31px;
    padding-bottom: 29px;
  }

  .faq__item:nth-child(4) {
    padding-top: 31px;
    padding-bottom: 29px;
  }
  .faq__item:nth-child(5) {
    padding-top: 31px;
    padding-bottom: 29px;
  }
}

.faq__text {
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px) {
  .faq__text {
    max-width: 760px;
  }
}

@media (max-width: 992px) {
  .faq__text {
    max-width: 580px;
  }
}

@media (max-width: 720px) {
  .faq__text {
    max-width: 245px;
  }
}

.faq__descr {
  margin: 0;
  padding-top: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
}

.faq__item:last-child {
  border-bottom: 1px solid var(--color-gray);
}

.faq__circle::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 0;
  width: 50px;
  min-height: 50px;
  background-image: url('../img/faq-circle.svg');
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .faq__circle::after {
    background-size: 59%;
    background-position: top 21px right 0px;
  }

  .faq__item:nth-child(1)::after,
  .faq__item:nth-child(5)::after {
    background-position: top 9px right 0px;
  }
}

.faq__circle:hover::after,
.faq__circle:focus::after {
  transition: background 0.3s ease-in-out;
  background-image: url('../img/faq-circle-orange.svg');
}

/* .faq__circle:active::after {
  background-image: url('../img/faq-circle.svg');
  transition: transform 0.3s ease-in-out,
              background 0.5s ease-in-out;
  transform: rotate(-45deg);
} */

.faq__item:focus,
.faq__item:hover {
  border-top: 1px solid var(--color-orange);
  outline: none;
  color: var(--color-orange);
  transition: color 0.3s ease-in-out,
              border 0.3s ease-in-out;
}

.faq__item:focus + .faq__item,
.faq__item:hover + .faq__item {
  border-top: 1px solid var(--color-orange);
  transition: border 0.3s ease-in-out;
}

.faq__item:focus:last-child,
.faq__item:hover:last-child {
  border-bottom: 1px solid var(--color-orange);
  transition: color 0.3s ease-in-out,
              border 0.3s ease-in-out;
}

.faq__item:active {
  color: var(--color-black);
  border-top: 1px solid var(--color-gray);
  transition: color 0.5s ease-in-out,
              border 0.5s ease-in-out;
}

.faq__item:active + .faq__item {
  border-top: 1px solid var(--color-gray);
  transition: border 0.5s ease-in-out;
}

.faq__item:active:last-child {
  border-bottom: 1px solid var(--color-gray);
  transition: color 0.5s ease-in-out,
              border 0.5s ease-in-out;
}

.is-active .faq__circle::after {
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}

/* footer */

.footer {
  background-color: #222;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 48px 50px;
}

@media (max-width: 1440px) {
  .footer__container {
    padding: 50px 48px;
  }
}

@media (max-width: 992px) {
  .footer__container {
    flex-direction: column-reverse;
    padding: 53px 50px;
  }
}

@media (max-width: 576px) {
  .footer__container {
    padding: 32px 14px;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  margin-right: 6%;
}

@media (max-width: 1440px) {
  .footer__left {
    margin-right: 6%;
  }
}

@media (max-width: 992px) {
  .footer__left {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .footer__left {
    align-items: center;
    width: 100%;
  }
}

.footer__center {
  display: flex;
  flex-direction: column;
}

.footer__right {
  padding-top: 89px;
}

@media (max-width: 1440px) {
  .footer__right {
    display: none;
  }
}

.footer__logo {
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  .footer__logo {
    margin-bottom: 12px;
  }
}

@media (max-width: 576px) {
  .footer__logo {
    margin: 0;
    margin-bottom: 6px;
    min-height: auto;
  }
}

@media (max-width: 992px) {
  .logo__img-footer {
    width: 224px;
    height: 72px;
  }
}

@media (max-width: 576px) {
  .logo__img-footer {
    width: 224px;
    height: 42px;
  }
}

.footer__list {
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: var(--color-gray);
}

@media (max-width: 992px) {
  .footer__list {
    display: none;
  }
}

.footer__item {
  width: 100%;
}

.footer__item-link {
  color: inherit;
  transition: color 0.3s;
}

.footer__item-link:hover {
  color: var(--color-orange);
  transition: color 0.3s;
}

.footer__item-link:focus {
  color: var(--color-gray);
  outline-offset: 3px;
  outline: 3px solid var(--color-orange);
}
.footer__item-link:active {
  color: #E1670E;
  outline: none;
}


.socials {
  display: flex;
}

@media (max-width: 576px) {
  .socials {
    margin-left: 16px;
    width: 170px;
  }
}

.socials__item {
  width: 60px;
  min-height: 60px;
}

.socials__item:not(:last-child) {
  margin-right: 25px;
}

@media (max-width: 576px) {
  .socials__item:not(:last-child) {
    margin-right: auto;
  }
}

.socials__link {
  display: inline-block;
  height: 100%;
}

.socials__link svg path{
  transition: fill 0.3s;
}

.socials__link:hover svg path{
  fill: var(--color-orange);
  transition: fill 0.3s;
}

.socials__link:focus svg path{
  fill: #7C7C7C;
}

.socials__link:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

.socials__link:active svg path{
  fill: #E1670E;
  transition: fill 0.3s;
}

.socials__link:active svg {
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 570px;
}

@media (max-width: 992px) {
  .form {
    margin-bottom: 47px;
    min-width: auto;
    max-width: 570px;
  }
}

@media (max-width: 576px) {
  .form {
    margin-bottom: 17px;
    padding-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid #595959;
  }
}

.footer__title {
  margin-bottom: 25px;
  color: var(--color-gray);
}

@media (max-width: 1440px) {
  .footer__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .footer__title {
    margin-bottom: 21px;
  }
}

.form__label {
  margin-bottom: 25px;
}

@media (max-width: 576px) {
  .form__label,
  .massage {
    width: 100%;
  }
}

.form__input {
  padding-top: 7px;
  padding-left: 27px;
  width: 100%;
  min-height: 60px;
  border: none;
  background-color: #414141;
  color: var(--color-gray);
  transition: color 0.3s,
              background 0.3s;
}

.form__input:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

@media (max-width: 576px) {
  .form__input {
    padding-left: 21px;
  }
}

.form__input:hover,
.form__input:focus {
  background-color: #666;
  transition: background 0.3s;
}

.form__input:active {
  color: var(--color-white);
}

.form__input::placeholder {
  line-height: 32px;
  color: var(--color-gray);
}

.massage {
  margin-bottom: 29px;
}

@media (max-width: 576px) {
  .massage {
    margin-bottom: 16px;
  }
}

.input-massage {
  padding-top: 16px;
  height: 150px;
}

.form__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  .form__btn-group {
    flex-direction: column;
    align-items: center;
  }
}

.form__btn {
  margin-right: 5px;
  padding: 19px 54px;
}

@media (max-width: 1440px) {
  .form__btn {
    padding: 19px 38px;
  }
}

@media (max-width: 576px) {
  .form__btn {
    margin-left: 20px;
    margin-bottom: 14px;
    padding: 13px 29px;
  }
}

.form__checkbox-label {
  position: relative;
  padding-top: 2px;
  padding-left: 18px;
  cursor: pointer;
}

.form__checkbox {
  visibility: hidden;
}

.form__checkbox-icon {
  position: absolute;
  top: 3px;
  left: 0;
  padding-left: 10px;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
}

.form__checkbox-icon:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-orange);
}

@media (max-width: 576px) {
  .form__checkbox-icon {
    top: 6px;
  }
}

.form__checkbox-icon::before {
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 1px;
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
}

@media (max-width: 576px) {
  .form__checkbox-icon::before {
    top: 3px;
  }
}

.form__checkbox:checked + .form__checkbox-icon::before {
  opacity: 1;
}

.form__checkbox-descr {
  color: var(--color-gray);
}

@media (max-width: 576px) {
  .form__checkbox-descr {
    font-size: 16px;
  }
}

.footer__descr {
  margin: 0;
  max-width: 361px;
  line-height: 32px;
  color: var(--color-gray);
}

@media (max-width: 576px) {
  .social__link-svg {
    width: 40px;
    height: 40px;
  }
}
