::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

:root {
  --color-orange: #FF9900;
  --color-black: #333;
  --color-white: #fff;
  --color-gray: #CACACA;
}

@font-face {
  font-family: 'Montserrat';
  src:
  local('Montserrat Regular'),
  local('MontserratRegular'),
  url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

html {
  box-sizing: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  background-color: #FFF;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1870px;
}
