/* banner */
/* позиционирование */
.dropbar__left {
  flex-grow: 1;
}

.list-direction {
  max-width: 1037px;
}
/* стилистика */
.banner__container {
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, .5) 70px, transparent 5%),
  url('../../img/banner-1920_1.jpg');
}

.banner__container-dropbar {
  background-color: rgba(red, green, blue, .5);
}

.list-direction {
  padding: 25px 0;
}

.list-direction__item {
  position: relative;
  font-size: 18px;
  color: var(--color-white);
}

.list-direction__item-a {
  color: var(--color-white);
  text-decoration: none;
}

.dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  padding: 40px;
  background-color: rgba(0, 0, 0, .5);
}

.dropdown__item {
  padding: 10px 14px;
  min-width: 220px;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__item-a {
  width: 100%;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.offer {
  min-height: 630px;
}
