/* gallery */
/* позиционирование */
/* стилистика */
.gallery__container {
  min-height: 595px;
  background: url('../../img/gallery-bg.jpg');
}

.gallery__left,
.gallery__right {
  padding: 80px 0;
}

.gallery__title {
  margin-bottom: 16px;
}

.filter__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}

.filter__select-inner {
  margin-bottom: 150px;
}

.choices {
  margin-bottom: 50px;
  min-width: 400px;
  color: var(--color-white);
}

.choices:hover {
  background-color: rgba(255, 255, 255, .2);
}

.choices__inner,
.choices__list.is-active,
.is-open .choices__inner {
  background: transparent ;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
 .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, .2);
}

.choices[data-type*=select-one]::after {
  width: 17px;
  height: 17px;
  border: transparent;
  background: url('../../img/dropdown-arrow.svg');
  background-repeat: no-repeat;
}

.choices[data-type*=select-one].is-open::after {
  top: 35%;
  right: 15px;
  transform: rotate(180deg);
}

.check-box {
  color: var(--color-white);
}

.check {
  display: flex;
  align-items: center;
}

.check:not(:last-child) {
  margin-bottom: 20px;
}

.check__span {
  position: relative;
  margin-right: 12px;
  width: 12px;
  height: 12px;
}

.check__span:focus {
  outline: none;
}

.check__span:focus.check__span::before {
  border-color: var(--color-link-hover-bg-black);
}

.check__span:focus + .check__label {
  color: var(--color-link-hover-bg-black);
}

.check__span::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: -1px;
  width: 12px;
  height: 12px;
  background-image: url('../../img/point.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.check__span[aria-checked="true"]::before {
  border: 1px solid var(--color-link-hover-bg-black);
  background-size: 40%;
}

.check__span[aria-checked="false"]::before {
  border: 1px solid var(--color-white);
  background-size: 0%;
}

.check__label {
  margin: 0;
  cursor: pointer;
}
