/* header */
/* позиционирование */
.navbar__right {
  flex-basis: 79rem;
}

.nav {
  flex-grow: 1;
  max-width: 754px;
}

.navbar__logo,
.nav {
  margin-right: 30px;
}
/* стилистика */
.header__container {
  background-color: var(--color-header-bg);
}

.navbar {
  padding: 28px 0;
}

.navbar__logo-a:focus {
  outline-offset: 5px;
  outline: 1px solid var(--color-link-hover-bg-black);
}

.nav__item-a {
  padding: 4px 6px;
  color: var(--color-white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.nav__item-a:focus {
  outline: none;
  background-color: var(--color-link-btn-active);
}

.nav__item-a:hover {
  color: var(--color-link-hover-bg-black);
}

.nav__item-a:active {
  background-color: transparent;
  color: var(--color-link-btn-active);
}

.user-account__enter-btn {
  position: relative;
  padding: 8px 5px 8px 28px;
  border: none;
  color: var(--color-white);
  background-color: inherit;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.user-account__enter-btn:focus {
  background-color: var(--color-link-btn-active);
  outline: none;
  color: var(--color-white);
}

.user-account__enter-btn:hover {
  color: var(--color-link-hover-bg-black);
}

.user-account__enter-btn:active {
  background-color: transparent;
  color: var(--color-btn-enter-active);
}

.user-account__enter-btn::before {
  position: absolute;
  content: '';
  left: 8px;
  bottom: 12px;
  width: 18px;
  height: 13px;
  background-image: url('../../img/enter.svg');
  background-repeat: no-repeat;
  transition: background-image .3s ease-in-out;
}

.user-account__enter-btn:hover::before {
  left: 3px;
  background-image: url('../../img/enter-hover.svg');
}

.user-account__enter-btn:active::before {
  left: 3px;
  background-image: url('../../img/enter-active.svg');
}
